.env
.venv
venv/
ENV/
env/
.venv/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

*appsettings.json

# mypy
.mypy_cache/
.dmypy.json
dmypy.jsonKycRiskAgent/TransactionSecurityAPI/appsettings.json
